/* Rainbow backgroung from https://stackoverflow.com/questions/40557461/rainbow-gradient-in-css */
html {
    height: 200px;
    background: #00bfff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #ffa500 , #ffff00,    #008000,    #00ffff,    #0000ff, #ee82ee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffa500 , #ffff00,    #008000,    #00ffff,    #0000ff, #ee82ee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffa500 , #ffff00,    #008000,    #00ffff,    #0000ff, #ee82ee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffa500 , #ffff00,    #008000,    #00ffff,    #0000ff, #ee82ee); /* Standard syntax (must be last) */
}

header {
    width: 25%;
    display: flex;
}

h1,
#toolbar > *,
#deck {
    background-color: #187818;
    color: #fff;
    padding: 20px;
    border-width: 12px;
    border-style: solid;
    border-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}

span {
    display: inline-block;
    padding: 20px;
}

#toolbar {
    display: flex;
    width: 80%;

}

#toolbar > * {
    width: 25%;
}

#deck {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0px 50px;
    width: 601px;
    height: 601px;
}

#deck > * {
    font-size: 380%;
    width: 80px;
    height: 80px;
    background-color: #F5DA0F;
    color: #187818;
    padding: 20px;
    border-width: 15px;
    border-style: solid;
    border-color: #fff;
}

.covered {
    /*color: rgba(0, 0, 0, 0.0)*/;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.no-click-area {
  pointer-events: none;
}

.matched {
    border-color: #187818 !important;
    pointer-events: none;
}

.unmatched {
    border-color: red !important;
}

/*Modal inspired by https://www.w3schools.com/howto/howto_css_modals.asp*/

/*The modal button*/
#modal {
    visibility: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#play_again {
        width: 94px;
        height: 40px;
    }

/*Inline stlying in iframe element in HTML has been moved here below:*/
iframe {
    width: 100px;
    height: 28px;
    border: none;
    overflow: hidden;
    padding-top: 25px;
}