/*.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}*/

/*.row,
.col-md-3 {
    border-style: solid;
    float: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}*/

.container {
    display: flex;
    float: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

#deck {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    color: black;
    border-style: solid;
    width: 80%;
}

#deck > * {
    width: 106px;
    height: 106px;
    text-align: center;
    font-size: 500%;
    border-style: solid;
    border-color: black;

}

.covered {
    color: rgba(0, 0, 0, 0.0);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-click-area {
  pointer-events: none;
}

.matched {
    border-color: green !important;
    pointer-events: none;
}

.unmatched {
    border-color: red !important;
}