/*.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}*/

/*.row,
.col-md-3 {
    border-style: solid;
    float: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}*/

.container {
}

#toolbar {
    border-style: solid;
    border-color: black;
}

#toolbar > * {
    border-style: solid;
    border-color: black;
}

#deck {
    color: black;
    border-style: solid;
    margin-top: 80px;
}

#deck > * {
    font-size: 500%;
    border-style: solid;
    border-color: black;
}

.covered {
    color: rgba(0, 0, 0, 0.0);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.no-click-area {
  pointer-events: none;
}

.matched {
    border-color: green !important;
    pointer-events: none;

}

.unmatched {
    border-color: red !important;
}